<script>
	import { ingredients } from "./ingredients.js";
	export let game;
	export let program;

	function get_img_src(i) {
		let id = i; // +1 because we ignore the first item (air)
		let item = ingredients[id];
		let minecraft_id = item.id_mc;
		let src = "img/icons/"+minecraft_id+".png";
		return src;
	}
</script>

<article class="minecraft-game-card">
	<div class="inventory">
		<h2>Inventory</h2>
		{#each game.inventory as item}
			<img src={get_img_src(item)} />
		{/each}
		<p>IDs: {game.inventory}</p>
	</div>
	<div class="target_item">
		<h2>Target Item</h2>
		<img src={get_img_src(game.target_item)} />
		<p>ID: {game.target_item}</p>
	</div>
	<div class="program">
		<h2>Program</h2>
		<pre><code>{program.to_code()}</code></pre>
	</div>
</article>

<style>
	.minecraft-game-card {
		width: 300px;
		border: 1px solid #aaa;
		border-radius: 2px;
		box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
		padding: 1em;
	}

	h2 {
		padding: 0 0 0.2em 0;
		margin: 0 0 1em 0;
		border-bottom: 1px solid #ff3e00
	}

	.address, .email {
		padding: 0 0 0 1.5em;
		background:  0 0 no-repeat;
		background-size: 20px 20px;
		margin: 0 0 0.5em 0;
		line-height: 1.2;
	}

	.address { background-image: url(tutorial/icons/map-marker.svg) }
	.email   { background-image: url(tutorial/icons/email.svg) }
	.missing { color: #999 }
</style>
