<script lang="ts">
	import { enumerate_programs_of_len } from "./dsl/enumeration";
	import { enumerate_programs } from "./dsl/enumeration";
	import { Table } from "./abstract/table";
	import { Game } from "./abstract/game";
	import { MinecraftGames } from "./minecraft/minecraft";
	import MinecraftGameCard from "./minecraft/MinecraftGameCard.svelte";

	let additional_primitives = [];
	let solved_games = [];
	let solved_games_indexes = [];
	let max_program_len = 5;
	let total_programs_executed = 0;
	let iteration = 0;
	let current_program_code = "";
	let current_game = 0;
	let last_pause_time = Date.now();
	let pause_every_ms = 100;
	let pause_time_in_ms = 1;
	let programs_executed_since_pause = 0;
	let programs_per_second = 0;
	let game_collection = new MinecraftGames();
	let total_games = game_collection.games.length;

	function attempt_solve(game, program) {
		// Build a copy of the game to play on
		let slots_copy  = JSON.parse(JSON.stringify(game.table.slots));
		let table_copy = new Table(slots_copy);
		let game_copy = new Game(
			[...game.inventory],
			game.target_item,
			table_copy,
			game.rules,
			game.all_items,
		);

		// Execute program
		game_copy.execute(program);
		return game_copy.is_won();
	}

	// Library growing algorithm
	async function solve_games() {
		current_game = 0;

		let successful_programs = [];

		// Try to solve each task enumerating programs in the
		// current library
		// HACK: TODO: FIX: using smaller grid for enumeration
		// just to make sure things are working.
		let grid_size = [3, 1];
		for(let i = 0; i < game_collection.games.length; i++) {
			// Do not solve games twice
			if(solved_games_indexes.includes(i))
				continue;
			let game = game_collection.games[i];
			current_game++;
			let programs = enumerate_programs(
				max_program_len,
				game.all_items,
				//game_collection.grid_size,
				grid_size,
				additional_primitives
			);

			for(const program of programs) {
				let is_won = attempt_solve(game, program);
				programs_executed_since_pause++;
				if(is_won) {
					let solved_game = {
						game: game,
						program: program,
						iteration: iteration,
					};
					solved_games.push(solved_game);
					solved_games_indexes.push(i);
					successful_programs.push(program);
					break;
				}
				total_programs_executed = total_programs_executed + 1;

				// Every once in a while let the main thread update
				let time_since_pause = Date.now()-last_pause_time;
				if(time_since_pause > pause_every_ms) {
					programs_per_second = programs_executed_since_pause/time_since_pause*1000;
					programs_executed_since_pause = 0;
					last_pause_time = Date.now();
					current_program_code = program.to_code();
					await new Promise(r => setTimeout(r, pause_time_in_ms));
				}
			}

			// Re-assign solved games variable for UI
			solved_games = solved_games;
		}

		// Add successful programs as additional primitives
		additional_primitives = [...additional_primitives, ...successful_programs];

		let all_programs_failed = successful_programs.length === 0;
		let all_tasks_finished = solved_games.length == game_collection.games.length;
		if(all_programs_failed) {
			current_program_code = "All programs failed! Algorithm cannot make further progress.";
		} else if(!all_tasks_finished) {
			iteration++;
			// setTimeout to avoid stack overflow ("too much recursion" error)
			setTimeout(solve_games, pause_time_in_ms);
		} else {
			current_program_code = "All tasks finished!";
		}
	}
	solve_games();
</script>

<main>
	<p>
	Solved tasks: {solved_games.length}
	</p>
	<p>
	Current task: {current_game}
	</p>
	<p>
	Total tasks: {total_games}
	</p>
	<p>
	Added primitives: {additional_primitives.length}
	</p>
	<p>
	Total programs executed: {total_programs_executed}
	</p>
	<p>
	Programs per second: {Math.round(programs_per_second)}
	</p>
	<p>
	Task set iteration: {iteration}
	</p>

	Current program:
	<div class="code">
		<pre><code>{current_program_code}</code></pre>
	</div>

	{#each solved_games as solved_game}
		Game solved in iteration {solved_game.iteration}:
		<MinecraftGameCard
			game={solved_game.game}
			program={solved_game.program}
		/>
	{/each}
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	.code {
		height: 10em;
		overflow-y: auto;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
